*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: #262626;
}

.container{
    width: 90%;
    margin: 0px auto;
}
/* -------------------------------MAIN-NAVE---------------------- */
.main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.left-nav-list{
    display: flex;
    list-style: none;
}
.left-nav-list li{
    display: inline-block;
    padding: 10px;
}


.left-nav-list img{
    width: 100px;
    height: auto;
}
.left-nav-list .x-box{
    width: 80px;
    margin-left: 20px;
}

.x-box-bar{
    padding: 12px 0px;
    display: inline-block;
    width: 1.5px;
    background-color: #262626;
}
.middle-nav-list{
    display: flex;
    list-style-type: none;
}

.middle-nav-list li{
    padding: 10px;
}

.middle-nav-list li a{
    text-decoration: none;
    padding-bottom: 5px;
}
.middle-nav-list li i{
    display: inline-block;
    padding-left:5px;
    font-weight: lighter;
}

.middle-nav-list li a:hover{
    border-bottom: #262626 solid 2px;
}

.right-nav-list{
    display: flex;
    list-style-type: none;
}

.right-nav-list li{
    padding: 10px;
}
.right-nav-list li i{
    display: inline-block;
    margin-top: 8px;
    padding-left: 5px;
    font-weight: lighter;
    font-size: 16px;
}
.fa-chevron-down{
    font-size: 12px !important;
}
.fa-user-circle{
    font-size: 26px !important;
    color: #7e7777;
  
}
.right-nav-list li a{
    text-decoration: none;
    padding-bottom: 5px;
}

.right-nav-list li a:hover{
    border-bottom: #262626 solid 2px;
}
/* -----------------------END-OF-MAIN-NAVE--------------- */

/* ----------------------- SHOCASE----------------------- */
.showcase .content ul{
    list-style: none;
}
.showcase{
    background: url("./img/showcase.jpg") no-repeat center center/cover;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 80px;
    padding-bottom: 150px;
}
.showcase .content{
    width: 40%;
}
.showcase .content h2{
    font-size: 46px;
    color: white;
    padding-bottom: 50px;
}
.button-primary{
    padding: 8px 30px;
    background: #8AD93E;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: #214B17;
    text-transform: uppercase;
}


.content-list .button-primary:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.content-list li .fa-chevron-right{
    margin-left: -25px;
    font-weight: bold;
}
/* ---------------------------- */
/*-------------------CATEGORY------------  */
.category{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.category-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 20px;
    cursor:hand;
}
.category-content h2{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 17px;
    color: #3D7D1F;
    border-bottom: white solid 3px;
}
.category-content:hover h2{
    border-bottom: #3D7D1F solid 3px;
}
.img-category{
    display: inline-block;
    height: 70px;
}
/* -----------------------------END OF CATEGORY----------------- */
/* ------------------------- ITEM_CONTAINER--------------------- */

.item-container{
    display: grid;
    grid-template-columns: repeat(4,326px);
    grid-template-rows: repeat(3,326px);
    grid-gap: 10px;
    width: 99%;
    margin: 10px auto;
    text-align: center;
    justify-content: center;

}

.item-container .item-1, .item-3{
    grid-column: span 2;
    grid-row: span 2;
}
.item-container .item-2,.item-4{
    grid-column: span 2;
}

.item-container .item-1{
    background: url("./img/container_1_item_1.jpg") no-repeat center center/cover;
}
.item-container .item-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #3D7D1F;
}
.item-container .item-2 .content{
    width: 50%;
    text-align: left;
    padding-left: 25px;
}
.item-container .item-2 .content *{
    padding: 10px;
    color: #ffffff;
}
.item-container .item-2 .content h2{
    font-size: 25px;
}
.item-container .item-2 .content p{
    font-size: 18px;
}
.item-container .item-2 a{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}
.item-container .item-2 a:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.item-container .item-2 a i{
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    margin-left: -5px;
    margin-bottom: -10px;
}

.item-container .item-2 .image{
    height: 100%;
    width: 50%;
    background: url("./img/container_1_item_2.jpg") no-repeat center center/cover;
}

.item-container .item-3{
    background:url("./img/container_1_item_3.jpg") no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 20px;
}
.item-container .item-3 *{
    padding: 15px;
    text-align:left;
}
.item-container .item-3 h2{
    font-size: 40px;
}
.item-container .item-3 p{
    font-size: 20px;
    /* font-weight: bold; */
}
.item-container .item-3 a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.item-container .item-3 a i{
    display: inline-block;
    margin-left: -15px;
    font-weight: bold;
}
.item-container .item-3 a:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.item-container .item-4{
    display: flex;
    flex-direction: row;
    background-color: #3D7D1F;
}
.item-container .item-4 .image{
    background: url("./img/container_1_item_4.jpg") no-repeat center center/cover;
    width: 50%;
}
.item-container .item-4 .content{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}
.item-container .item-4 .content *{
    padding:10px;
    color:#ffffffff;
    text-align: left;
}

.item-container .item-4 .content h2{
    font-size: 20px;
}
.item-container .item-4 .content p{
    font-size: 15px;
}
.item-container .item-4 .content a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.item-container .content a i{
    display: inline-block;
    margin-left: -10px;
}
.item-container .content a:hover{
    color: #94E241;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
/* ----------------------container-2------------------- */
.container-2{
    background: url("./img/container_2.jpg") no-repeat center center/cover;
    height: 500px;
    margin: 10px auto;
    width: 99%;
}
/* ------------------------------------------------------------ */
/* -------------------------------item-container-2-------------------- */

/* ---------------------------------------------------------------------- */
.item-container-2{
    display: grid;
    grid-template-columns: repeat(4,326px);
    grid-template-rows: repeat(3,326px);
    grid-gap: 10px;
    width: 99%;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
}

.item-container-2 .item-1,.item-4{
    grid-column: span 2;
}

.item-container-2 .item-2, .item-3{
    grid-column: span 2;
    grid-row: span 2;
}

.item-container-2 .item-1{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
}
.item-container-2 .item-1 .image{
    background: url("./img/container_3_item_1.jpg") no-repeat center center/cover;
    width: 50%;
    height: 100%;
}
.item-container-2 .item-1 .content{
    background-color:#3D7D1F;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
.item-container-2 .item-1 .content *{
    padding: 15px;
    color: #ffffff;
}
.item-container-2 .item-1 .content h2{
    font-size: 25px;
}
.item-container-2 .item-1 .content p{
    font-size: 17px;
    text-align: left;
}
.item-container-2 .item-1 .content a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.item-container-2 .item-1 .content a i{
   display: inline-block;
   margin-left: -10px;
}

.item-container-2 .item-1 .content a:hover{
    color: #94E241;
    text-decoration-line: underline;
    text-decoration-style: solid;
 }

 .item-container-2 .item-2 {
     background: url("./img/container_3_item_2.jpg") no-repeat center center/cover;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-end;
     padding-left: 30px;
     padding-bottom: 100px;
 }

 .item-container-2 .item-2 .content{
     text-align: left;
 }
 .item-container-2 .item-2 .content *{
    padding: 15px;
    color: #ffffff;
}

.item-container-2 .item-2 .content h2{
   font-size: 30px;
}
.item-container-2 .item-2 .content p{
    font-size: 18px;
}
.item-container-2 .item-2 .content a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.item-container-2 .item-2 .content a i{
    display: inline-block;
    margin-left: -10px;
}
.item-container-2 .item-2 .content a:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
 }

 .item-container-2 .item-3 {
     background: url("./img/container_3_item_3.jpg") no-repeat center center/cover;
     display: flex;
     align-items: flex-end;
     justify-content: flex-start;
     padding-left: 50px;
     padding-bottom: 50px;
 }

 .item-container-2 .item-3 .content{
    text-align: left;
}
.item-container-2 .item-3 .content *{
    color: #ffffff;
    padding: 15px;
}

.item-container-2 .item-3 .content h2{
   font-size: 40px;
   text-transform: uppercase;
}

.item-container-2 .item-3 .content p{
    font-size: 20px;
    text-transform: uppercase;
 }

 .item-container-2 .item-3 .content a{
   text-transform: uppercase;
   text-decoration: none;
   font-weight: bold;
   font-size: 16px;
 }

 .item-container-2 .item-3 .content a i{
   display: inline-block;
   margin-left: -10px;
}

.item-container-2 .item-3 .content a i{
    display: inline-block;
    margin-left: -10px;
 }

 .item-container-2 .item-3 .content a:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
 }

 .item-container-2 .item-4{
     display: flex;
     flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 10px;
     background: #ffffff;
 }
 .item-container-2 .item-4 .image{
     background: url("./img/container_3_item_4.jpg") no-repeat center center/cover;
     height: 100%;
     width: 50%;
 }
 .item-container-2 .item-4 .content{
     text-align: left;
 }
 .item-container-2 .item-4 .content *{
     padding: 15px;
 }

 .item-container-2 .item-4 .content h2{
    font-size: 25px;
}

.item-container-2 .item-4 .content p{
    font-size: 19px;
}
.item-container-2 .item-4 .content a{
    font-size: 19px;
    text-decoration: none;
    font-weight: bold;
}

.item-container-2 .item-4 .content a i{
   display: inline-block;
   margin-left: -10px;
}

.item-container-2 .item-4 .content a:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
 }

 /* ----------------------- container-3 ------------------- */
 .container-4{
     background: url("./img/container_4.jpg") no-repeat center center/contain;
     height: 600px;
     width: 99%;
     margin: 0px auto;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     padding-right: 25px;
 }

 .container-4 .content *{
     color: #ffffff;
     padding: 20px;
 }

 .container-4 .content h2{
     font-size: 40px;
     margin-left: -20px;
 }
 .container-4 .content p{
     font-size: 20px;
     margin-left: -20px;
 }

 .container-4 .content a{
     text-decoration: none;
     font-size: 18px;
     text-transform: uppercase;
     font-weight: bold;
     background-color: #8AD93E;
     padding: 10px 15px;
     color: #214B17;
 }

 .container-4 .content a i{
     display: inline-block;
     margin-left: -10px;
     color: #214B17;
 }

.container-4 .content a:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
 }