*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 2fr 15fr 6fr 15fr 6fr 5fr;
    grid-gap: 5px;
    /* border: 1px solid green; */
    height: 600vh;
    margin: 1em;
    text-align: center;
}

.main *{
    border: 1px solid green;
}
/*  ------------------------- CONTAINER-1 --------------- */
/* ---------------------------__header__----------------- */
.header{
 
}
.header img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* object-position: top right; */
}
/* ---------------------------__end__of__header__-------- */
.container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "sub-con-1 sub-con-2"
        "sub-con-1 sub-con-3"
        "sub-con-4 sub-con-3";
    grid-gap: 5px;
}

.container-1 .sub-con-1{
   grid-area: sub-con-1;
}
.container-1 .sub-con-2{
    grid-area: sub-con-2;
}
.container-1 .sub-con-3{
    grid-area: sub-con-3;
}

.container-1 .sub-con-4{
    grid-area: sub-con-4;
}
/* -------------------- Container-3 ------------------------- */
.container-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "sub-con-1 sub-con-2"
        "sub-con-3 sub-con-2"
        "sub-con-3 sub-con-4";
    grid-gap: 5px;
}
.container-3 .sub-con-1{
    grid-area: sub-con-1;
}

.container-3 .sub-con-2{
    grid-area: sub-con-2;
}

.container-3 .sub-con-3{
    grid-area: sub-con-3;
}

.container-3 .sub-con-4{
    grid-area: sub-con-4;
}
/* -------------------------------------------------- */
/* ------------------------- max__width__1058 ------------- */

@media(max-width: 1058px){
    /* -------------------__main__---------------- */
    .main{
        grid-template-rows: 1fr 12fr 2fr 44fr 6fr 44fr 6fr 5fr;
        height: 1100vh;
        margin: 1em;
        text-align: center;
    }
    /* ---------------------__end__of__main-------------- */

    /* ---------------------__header__------------------- */
    .header{
        /* background-size: contain;
        background-position: auto 0%; */
    }
    /* --------------------------------------------------- */



    /* -------------------__container-1__-------------- */
    .container-1{
        grid-template-columns: 1fr;
        grid-template-rows: 12fr 10fr 12fr 10fr;
        grid-template-areas: 
            "sub-con-1"
            "sub-con-2"
            "sub-con-3"
            "sub-con-4";
    }
    /* ------------------__end_of_container-1__---------------- */




    /* ------------------__container-3__----------------------- */



    .container-3{
        grid-template-columns: 1fr;
        grid-template-rows: 12fr 10fr 12fr 10fr;
        grid-template-areas: 
            "sub-con-1"
            "sub-con-2"
            "sub-con-3"
            "sub-con-4";
    }
}